* {
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    color: #777777;
}

main {
    min-height: calc(100vh - 135px);
    background-image: url("../images/arab_tile.png");
}

.bg-primary {
    background-color: #4aaaa5!important;
}

h1,
h2,
h3 {
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    font-weight: bold;
}

h2,
h3 {
    color: #4aaaa5;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.125rem;
}

.card-text {
    line-height: 1.6;
}
.card,
.form-control,
.btn {
    border-radius: 0;
}

path {
    color: #ffffff;
}

footer {
    border-top: 6px solid #4aaaa5;
    font-size: 0.75rem;
}

/* .btn-info { // LinkedIn
    background-color: ;
    border-color: ;
}

.btn-danger { // Stack Overflow
    background-color: ;
    border-color: ;
} */