/* ==========================================================================
   Global & Text Styles
============================================================================= */
* {
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    color: #777777;
}

h1,
h2,
h3,
figcaption {
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    font-weight: bold;
}

h2,
h3 {
    color: #4aaaa5;
}

h2 {
    font-size: 1.25rem;
}

h3,
figcaption {
    font-size: 1.125rem!important;
}

.card-text {
    line-height: 1.6;
}


/* ==========================================================================
   Main Page Layout Elements
============================================================================= */
main {
    min-height: calc(100vh - 135px);
    background-image: url("../images/arab_tile.png");
}

footer {
    border-top: 6px solid #4aaaa5;
    font-size: 0.75rem;
}

figcaption {
    bottom: 20px;
    left: 0px;
    font-weight: normal;
}


/* ==========================================================================
   Bootstrap styling overrides
============================================================================= */
.bg-primary {
    background-color: #4aaaa5!important;
}

.card,
.form-control,
.btn {
    border-radius: 0;
}

path {
    color: #ffffff;
}


/* ==========================================================================
   Button styling overrides - TODO: figure out how to override in SCSS
============================================================================= */
.btn-primary {
    background-color: #4aaaa5;
    border-color: #4aaaa5;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: #479995;
    border-color: #479995;   
}

.btn-info {
    background-color: #0077b5;
    border-color: #0077b5;
}

.btn-info:hover,
.btn-info:active {
    background-color: #005e91;
    border-color: #005e91;
}

.btn-danger {
    background-color: #f48024;
    border-color: #f48024;
}

.btn-danger:hover,
.btn-danger:active {
    background-color: #d47221;
    border-color: #d47221;   
}